
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/profile">Memorybucket</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-picture"></span> Photos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/general">General</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/food">Food</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/random">Random</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Bucket </a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="photo-content">
<h3><%= photo.caption %></h3>

<img style="border:1px solid gray;width:500px;" src='<%= photo.photo_url %>'>
<br><br>

<!-- <h4>Owner: <%= user.username %></h4> -->

<% if( isOwner ) { %>

<form method="POST" action=<%="/view-edit-photo/" + photo._id + "?_method=DELETE" %> >
  <div class="form-group" id="deleteBtn">
       <button class="btn btn-default" type="submit">Delete Photo</button>
  </div>
</form>
<% } %>
</div>




<div class="photo-comment">

<div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
    </div>
    <div class="actionBox">
      <% if(typeof comments != 'undefined'){ %>
        <ul class="commentList">
            <% for(var i=0; i<comments.length; i++) { %>
            <li>
                <div class="commentUser">
                    <%= comments[i].user_id.username %>:
                </div>
                <br>
                <div class="commentText">
                    <%= comments[i].comment_content %>
                </div>
            </li>
          <% } %>
        </ul>
      <% } %>

        <form method="POST" action="/view-edit-photo/:photo_id">
          <input class="form-control" type="hidden" name="photo_id" id="photo_id" value="<%=photo._id %>" >



            <div class="form-group">
              <textarea class="form-control" name="comment_content" rows="4" cols="50"></textarea>
            </div>

            <div class="form-group" id="addBtn">
                <input class="btn btn-default" type="submit" value="Add">
            </div>

        </form>

    </div>
</div>
</div>
