<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/userpublic">Memorybucket</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-picture"></span> Photos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/general">General</a></li>
            <li><a href="/places">Places</a></li>
            <li><a href="/food">Food</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/random">Random</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Bucket </a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>

      </ul>
    </div>
  </div>
</nav>

<style>
body {color: green;}
</style>

<h1> My bucket </h1>

<!-- Logged in user info-->
<div class="row">

  <!-- LOCAL INFORMATION -->
  <div class="col-sm-6">
    <div class="well">
      <h3><span class="fa fa-user"></span>Logged in user</h3>
      <p>
          <!-- <strong>id</strong>: <%= user._id %><br> -->
          <strong>username</strong>: <%= user.username %><br>
          <strong>email</strong>: <%= user.email %><br>
          <!-- <strong>password</strong>: <%= user.password %> -->
      </p>
    </div>
    <a href="/newphoto" class="btn btn-info" role="button">Add photo</a>
  </div>

</div>

<h4>show all user photo url</h4>

<% for(var i=0; i<photos.length; i++) { %>

    <a href="/view-edit-photo/<%= photos[i]._id %>">
     <img style="border:1px solid gray;width:270px;height:270;" src='<%= photos[i].photo_url %>'></a>


<% } %>
